.card {
  border: 1px solid #7f87f1;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  margin: 1% 1%;
  width: 20%;
}

.card-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  width: 94%;
}