.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 60px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #2f8cdd;
}

.search-input {
  width: 57%;
}

.container-avatar {
  display: flex;
  align-items: center;
}

.avatar-img {
  margin: 0 10px 0 0;
  width: 24px;
  height: 23px;
}